<div class="page-context-header">
  <div class="page-title">
    <i class="bi bi-window-stack"></i>
    <span class="title-text">{{ tituloPagina }}</span>
  </div>

  <div class="page-actions">

    @if (listMode) {
      <button class="btn-action secondary" (click)="filtrarClick($event)">
        <i class="bi bi-funnel"></i>
        <span>Filtrar</span>
      </button>

      <button class="btn-action primary" (click)="novoClick($event)">
        <i class="bi bi-plus-circle"></i>
        <span>Novo</span>
      </button>
    }

    @if (!listMode) {
      <button class="btn-action success" (click)="salvarClick($event)">
        <i class="bi bi-check-circle"></i>
        <span>Salvar</span>
      </button>
    }

    <button class="btn-action secondary" (click)="limparClick($event)">
      <i class="bi bi-eraser"></i>
      <span>Limpar</span>
    </button>

    <button class="btn-action danger" (click)="fecharClick($event)">
      <i class="bi bi-x-circle"></i>
      <span>Fechar</span>
    </button>

  </div>
</div>
