<div>
  <toolbar-filter-component [tituloPagina]="'Cadastro de Tipo de Produto'"
                            [listMode]="false"
                            (salvar)="doSave(model)">
  </toolbar-filter-component>
</div>


    @if (model) {
            <div class="card-body">

              <div class="row g-3">
                <text-box-component label="Código" colClass="col-md-2" [(dataField)]="model.codigo"></text-box-component>
                <text-box-component label="Nome do Tipo" colClass="col-md-4" [(dataField)]="model.nome"></text-box-component>
              </div>

            </div>
  }

