<div>
  <toolbar-filter-component [tituloPagina]="'Cadastro de Funcionario'"
                            [listMode]="false"
                            (salvar)="doSave(model)">
  </toolbar-filter-component>
</div>


@if (model) {
  <div class="card-body">
    <div class="d-flex flex-row gap-1">
      <pessoa-autocomplete [(dataField)]="model.pessoa" label="Funcionario" colClass="col-md-4"></pessoa-autocomplete>
    </div>
    <div class="d-flex flex-row gap-1">
      <date-box-component [(dataField)]="model.dataAdmissao" label="Data Admissão"></date-box-component>
    </div>
    <tabs-component>
      <tab title="Dados">
        <pessoa-form-component [model]="model.pessoa"
                               [isParent]="true">

        </pessoa-form-component>
      </tab>
    </tabs-component>
  </div>
}

