<form class="row g-1 p-3 border rounded shadow-sm">

  <div class="flex-column">

    <div class="d-flex flex-row gap-1">
      <text-box-component [label]="'Nome'" [colClass]="'col-md-2'"></text-box-component>
      <text-box-component [label]="'Documento'"  [colClass]="'col-md-1'"></text-box-component>
    </div>

    <div class="d-flex flex-row gap-1">
      <div class="col-md-1">
        <label for="nascimentoDe" class="form-label">Nascimento De</label>
        <input type="date" class="form-control" id="nascimentoDe">
      </div>
      <div class="col-md-1">
        <label for="nascimentoAte" class="form-label">Nascimento Até</label>
        <input type="date" class="form-control" id="nascimentoAte">
      </div>
    </div>

    <div class="col-md-2">
      <label for="situacao" class="form-label">Situação</label>
      <select class="form-select" id="situacao">
        <option value="">Todas</option>
        <option value="ATIVO">Ativo</option>
        <option value="INATIVO">Inativo</option>
      </select>
    </div>
  </div>


</form>
