/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.badge-sm {
  font-size: 0.65rem;
  padding: 0.25em 0.45em;
}

.badge-lg {
  font-size: 0.95rem;
  padding: 0.45em 0.75em;
}


// Style do autocomplete
.autocomplete-suggestions {
  top: 100%;
  left: 0;
  z-index: 1050;
  max-height: 240px;
  overflow-y: auto;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}
