<div class="d-flex">
  <!-- Sidebar -->
  <nav class="sidebar bg-light border-end vh-100 p-3">
    <h5 class="mb-4 text-primary fw-bold">Gestão</h5>

    <ul class="nav flex-column">
      @for (item of menuItems; track item) {
        <li class="nav-item mb-2">
          <!-- Item com submenu -->
          @if (item.children) {
            <a class="nav-link d-flex justify-content-between align-items-center text-dark"
              href="javascript:void(0)"
              (click)="toggleSubmenu(item)">
              <span class="d-flex align-items-center">
                <i class="bi {{ item.icon }} me-2 text-primary"></i>
                {{ item.label }}
              </span>
              <i class="bi bi-chevron-down small"
              [class.rotate]="item.expanded"></i>
            </a>
            <ul class="nav flex-column ps-4 mt-1 submenu"
              [class.show]="item.expanded">
              @for (sub of item.children; track sub) {
                <li class="nav-item mb-1">
                  <a [routerLink]="sub.route"
                    routerLinkActive="active"
                    class="nav-link text-dark d-flex align-items-center">
                    <i class="bi {{ sub.icon }} me-2"></i> {{ sub.label }}
                  </a>
                </li>
              }
            </ul>
          } @else {
            <a [routerLink]="item.route"
              routerLinkActive="active"
              class="nav-link text-dark d-flex align-items-center">
              <i class="bi {{ item.icon }} me-2 text-primary"></i>
              {{ item.label }}
            </a>
          }
          <!-- Item simples -->
        </li>
      }
    </ul>
  </nav>
</div>
