<div class="card shadow-sm">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle mb-0">
        <thead class="table-light">
        <tr>
          <th *ngFor="let col of columns">{{ formatTitle(col) }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of dataSource"
        (dblclick)="editItem(row)">
          <td *ngFor="let col of columns">
            {{ formatValue(row, col) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



