<div class="card shadow-sm">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle mb-0">
        <thead class="table-light">
          <tr>
            @for (col of columns; track col) {
              <th>{{ formatTitle(col) }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (row of dataSource; track row) {
            <tr
              (dblclick)="editItem(row)">
              @for (col of columns; track col) {
                <td>
                  {{ formatValue(row, col) }}
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>



