<div class="card shadow-sm">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle mb-0">
        <thead class="table-light">
        <tr>
          @for (col of gridColumnConfig; track col.key) {
            <th>
              {{ col.label || formatTitle(col.key) }}
            </th>
          }
        </tr>
        </thead>

        <tbody>
          @for (row of dataSource; track row) {
            <tr (dblclick)="editItem(row)">
              @for (col of gridColumnConfig; track col.key) {
                <td>
                  {{ formatByType(row[col.key], col) }}
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
